/* CSS for final project */

body {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
 
.header h1 {
    text-decoration: underline;
    text-align: center; 
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 5%;
    border: 2px solid white;
    left: 500px;  
    color: white;
    transition: font-weight 2s, left 2s, border 2s, border-radius 2s, font-size 2s, color 2s;
    }
.header :hover{
    left:400px;
    font-weight: bolder;
    font-size: 55px;
    color: blue;
    border: 6px dotted blue;
    border-radius: 10px;
}
#nav1{
    padding:300px;
    display: inline-block;
    margin-left: 75px;
}
#nav2{
    margin-left: 200px;
}
.nav{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    color: white;
    animation: nav 1.5s infinite;
}
@keyframes nav{
    form{color: white; }
    to{color: blue; }
    }
.nav:hover{
    font-weight: bold; 
}
#contact{
    text-align: center;
    padding-bottom:2px; 
}

.lixi{
    float: right;
    margin-right: 100px; 
    list-style: none;

    
}
#xing{
    margin-left:  25px;
}
#xing:hover{
    border: 2px solid blue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#li:hover{
    border: 2px solid blue;
    border-radius: 7px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


#cheers{
    font-size: 24px;
    background-color: lightcoral;
    margin-left: 45.5%;
    margin-bottom: 50px;
        
}
#cheers:hover{
        background-color: aquamarine;
        color: blue;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        cursor: pointer;
    }

.myp{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    height: 200px;
    margin-left: 200px;
    text-align: justify;
    font-size: 25px;
    opacity: 0.4;
    transition: font-weight 2s, opacity 2s; 
}
.myp:hover{
    height: 200px;
    margin-left: 200px;
    font-weight: bold;
    color: blue;
    opacity: 1.0;
    
}
#aboutdan{
    margin: 100px;
    margin-left: 300px;
    color: navy;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: transform 2s;
}
#aboutdan:hover{
    transform: rotateX(1080deg);
    cursor: pointer;
}
.img {
    height: 5px;
    width: 5px;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.DCI {
    font-size: 20px;
    padding: 5px 25px;
    margin-top: 20px; 
    margin-left: 40%;
    color: white;
    background-color: aqua;
    border: 2px solid blue;
    border-radius: 12px;

}   
.DCI:hover{
    background-color: aquamarine;
    color: blue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
button:active{
    transform: translateY(4px);

}
#contact{
    text-align: center;
}

form{
    text-align: center;
}
#submit{
    font-size: 20px;
    padding: 5px 25px;
    margin-top: 20px; 
    color: white;
    background-color: aqua;
    border: 2px solid blue;
    border-radius: 12px;
}
#submit:hover{
    background-color: aquamarine;
    font-size: 26px;
    color: blue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}





















.animation {
	width: 10%;
	position: absolute;
	top: 95%;
	left: 55%;
	transform: translate(-100%,-160%);
}

.foam1 {
	animation-delay: .1s;
	-webkit-animation: foam1 1s ease-out 0s infinite;
  -moz-animation: foam1 1s ease-out 0s infinite;
  -ms-animation: foam1 1s ease-out 0s infinite;
  -o-animation: foam1 1s ease-out 0s infinite;
}

.foam2 {
	animation-delay: .2s;
	-webkit-animation: foam2 1s ease-out 0s infinite;
  -moz-animation: foam2 1s ease-out 0s infinite;
  -ms-animation: foam2 1s ease-out 0s infinite;
  -o-animation: foam2 1s ease-out 0s infinite;
}

.foam3 {
	animation-delay: .3s;
		-webkit-animation: foam3 1s ease-out 0s infinite;
  -moz-animation: foam3 1s ease-out 0s infinite;
  -ms-animation: foam3 1s ease-out 0s infinite;
  -o-animation: foam3 1s ease-out 0s infinite;
}

.foam4 {
	animation-delay: .4s;
		-webkit-animation: foam4 1s ease-out 0s infinite;
  -moz-animation: foam4 1s ease-out 0s infinite;
  -ms-animation: foam4 1s ease-out 0s infinite;
  -o-animation: foam4 1s ease-out 0s infinite;
}

.foam5 {
  -webkit-animation: drop 1s ease-out 0s infinite;
  -moz-animation: drop 1s ease-out 0s infinite;
  -ms-animation: drop 1s ease-out 0s infinite;
  -o-animation: drop 1s ease-out 0s infinite;
}

.blink1, .blink2 {
	-webkit-animation: blink 1s ease-out 0s infinite;
  -moz-animation: blink 1s ease-out 0s infinite;
  -ms-animation: blink 1s ease-out 0s infinite;
  -o-animation: blink 1s ease-out 0s infinite;
}

.blink2 {
	animation-delay: .1s;
}

@-webkit-keyframes drop {
  0% { opacity: 0; transform: translateY(-5px); }
  100% { opacity: 1; transform: translateY(0px); }
}
@-webkit-keyframes foam1 {
  0% { opacity: 0; transform: translateY(5px); }
  20% { opacity: 1; transform: translateY(0px); }
}
@-webkit-keyframes foam2 {
  20% { opacity: 0; transform: translateY(5px); }
  40% { opacity: 1; transform: translateY(0px); }
}
@-webkit-keyframes foam3 {
  40% { opacity: 0; transform: translateY(5px); }
  60% { opacity: 1; transform: translateY(0px); }
}
@-webkit-keyframes foam4 {
  60% { opacity: 0; transform: translateY(5px); }
  100% { opacity: 1; transform: translateY(0px); }
}

@-webkit-keyframes blink {
  0% { fill: #F2F2F2; }
  50% { fill: rgb(255, 198, 0); }
  100% { fill: #F2F2F2; }
}
